.main-navbar {
    height: 60px;
    background-color: #2E2A29;
    padding-left: 75px;
    display: flex;
    align-items: center;
    
}

.logo-text {
    position: absolute;
    width: 133px;
    height: 33px;
    left: 130px;
    top: 17px;
    font-family: 'Open Sans';
    font-style: oblique;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color:#FFF;
}