.main-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    font-weight: lighter;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #FFF;
  }
  
  .footer-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .footer-icons > * {
    margin-right: 10px;
  }
  